@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+IE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+DK+Uloopet:wght@185&display=swap');
* {
    margin: 0;
    font-family: "Inter";
    color: white;
}
body {
    background-color: black;
}
.container {
    max-width: 75%;
    margin: 0 auto;
}
.description {
    color: gray;

}
/* header  */
header {
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.253), rgb(17, 17, 17));
}

.brand {
    font-size: 44px;
    color: rgb(230, 83, 60);
    font-style: italic;
}

/* nav bar  */


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 69px;
}

.nav-items {
    display: flex;
    gap: 40px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    padding: 15px 20px 0 1px;
    border-radius: 50px;
    /* align-items: center; */
}

.nav-items li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link-home {
    background-color: rgb(230, 83, 60);
    padding: 13px 19px;
    border-radius: 26px;
    text-decoration: none;
}

.fa-bars {
    display: none;
}


/* Hero section  */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.hero-text{
  margin-top: 30px;
}

.hero-title {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.hero-des {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;
    word-break:keep-all;
}

#shape {
    font-family: "Dancing Scrip";
    font-style: italic;
    font-weight: 400;

    font-size: 5rem;
    font-family: "Dancing Script", cursive;

  
  font-style: normal;
}

.hero-img-part {
    position: relative;
}

.join-btn {
    padding: 16px 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    border: none;
    font-size: 22px;
    font-weight: 600;
}

.download-btn {
  padding: 16px 40px;
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    margin-left: 14px;
    font-size: 22px;
    font-weight: 600;
}
/* Image part  */
.blur-1 {
    display: flex;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(48, 48, 48, 0.54);
    padding: 20px 23px;
    border-radius: 10px;
    position: absolute;

    bottom: 100px;
    left: -50px;
}

.video-count {
    font-size: 24px;
    font-weight: 800;
}

.blur-1-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.blur-2 {
    backdrop-filter: blur(10px);
    background-color: rgba(48, 48, 48, 0.54);
    padding: 20px 23px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    right: -50px;
    top: 100px;
}

.video-count {
    font-size: 2rem;

}

/*Habits-Section*/

.habits{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.habits>h1{
    font-size: 3.5rem;
    font-weight: 900;
}
.habits>p{
    font-size: 22px;
    font-weight: 400;
    padding-top: 20px;

}
.habits-grid{
    display: flex;
justify-content: center;
padding-top: 60px;
gap: 30px;
margin: 0 60px;
}
.h-g {
    border-radius:50%;
    border: 1px solid whitesmoke;
}
.habits-grid>div>h4{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
}
.habit-des{
    padding-top: 20px;
}








@media screen and (max-width:576px) {
  .container {
      max-width: 85%;
  }

  /* nav bar  */

  .fa-bars {
      display: block;
      font-size: 2rem;
      margin-right: 10px;

  }

  .nav-bar {
      align-items: center;
  }

  .nav-items {
      display: none;
  }

  .brand {
      font-size: 3rem;
  }

  /* Hero  */

  .hero-section {
      flex-direction: column;
      margin:auto;
      word-wrap: normal;
  }

  .hero-text-part {
      max-width: 576px;
  }

  .hero-title {
      font-size: 3rem;
  }

  .hero-btn-part {
      display: flex;
      align-items: center;
  }


  .join-btn {
      padding: 12px 24px;
      font-size: 18px;
      text-wrap: nowrap;

  }

  .download-btn {
      padding: 10px 22px;
      border: 2px solid white;
      font-size: 16px;
      text-wrap: nowrap;
  }

  .hero-img-part {
      max-width: 90%;
      margin-top: 50px;
  }

  .hero-img {
      width: 100%;
  }

  .blur-1 {
    padding: 20px 15px;
}

  .blur-2 {
      right: -30px;
      padding: 20px 15px;
  }

  .blur-2 p {
      font-size: 14px;
  }

  .video-count {
      font-size: 20px;
      font-weight: 700;
  }
  .habits>h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.habits-grid{
    flex-direction: column;
}

}